.item {
  border-radius: 50%;
  padding: 10px;
  width: 180px;
  height: 180px;
  margin: 10px;
}

.item:hover {
  box-shadow: 0 2px 6px 0 rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
  text-decoration: none;
}

.disc-title {
  color: rgb(248, 248, 248);
  font-size: 15px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  margin-top: -90px !important;
  font-weight: 800;
}

.item:hover .disc-title {
  color: rgb(56, 56, 56);
  font-size: 18px;
  font-weight: 900;
  transition: ease-out 0.3s;
}

.disc-image {
  padding: -10px;
  border-radius: 50%;
  border: solid 1px #f4f4f4;
  width: 170px;
}
